<div>
  <nav class="navbar navbar-default">
    <div class="col-md-12 col-lg-12   col-sm-12">
      <div class="navbar-header ">
        <button
          type="button"
          class="navbar-toggle"
          ng-click="isCollapsed = !isCollapsed"
          aria-expanded="true"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand glyphicon glyphicon-stats" href="#/">PkStock</a>
      </div>

      <div
        class="navbar-collapse collapse in"
        collapse="isCollapsed"
        aria-expanded="true"
      >
        <ul class="nav navbar-nav navbar-right">
          <li><a ng-click="open_notification()">Notification</a></li>
          <li><a href="#/Blog">Blog</a></li>

          <li><a href="#/Help">Help</a></li>
          <li><a ng-click="open_login('')">Login</a></li>
          <li><a ng-click="open_register()">SignUp</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="row" >
  <div id="scrollArea">
    <div class="col-centered text-center col-lg-5 col-md-6 col-xl-4 col-sm-8">
    <a class="heading"  ng-click="gotoBottom('1st')"
      >What is the Stock Market?</a>
    <p class="defination " id="1st">
      Stock markets are where buyers and sellers of stocks come together to
      trade shares in companies.
    </p>
    <div class="decoration">
    <a class="heading" >Tell me more...</a>
    <a ng-click="gotoBottom('3nd')">questoin</a><br>
    <a ng-click="gotoBottom('4nd')">questoin</a><br>
    <a ng-click="gotoBottom('5nd')">questoin</a><br>
    <a ng-click="gotoBottom('6nd')">questoin</a><br>
    <a ng-click="gotoBottom('7nd')">questoin</a><br>
    <a ng-click="gotoBottom('8nd')">questoin</a><br>
    <a ng-click="gotoBottom('9nd')">questoin</a><br>
    <a ng-click="gotoBottom('10nd')">questoin</a><br>
    <a ng-click="gotoBottom('11nd')">questoin</a><br>
    <a ng-click="gotoBottom('12nd')">questoin</a><br>
    <a ng-click="gotoBottom('13nd')">questoin</a><br>
    <a ng-click="gotoBottom('14nd')">questoin</a><br>
    <a ng-click="gotoBottom('15nd')">questoin</a><br>
    <a ng-click="gotoBottom('16nd')">questoin</a><br>
    <a ng-click="gotoBottom('17nd')">questoin</a><br>
    <a ng-click="gotoBottom('18nd')">questoin</a><br>
    <a ng-click="gotoBottom('19nd')">questoin</a><br>


    <p href="" id="3nd">aqueston 1</p><br>
    <p href="" id="4nd">Aqueston 1</p><br>
    <p href="" id="5nd">Aqueston 1</p><br>
    <p href="" id="6nd">Aqueston 1</p><br>
    <p href="" id="7nd">Aqueston 1</p><br>
    <p href="" id="8nd">Aqueston 1</p><br>
    <p href="" id="9nd">Aqueston 1</p><br>
    <p href="" id="10nd">Aqueston 1</p><br>
    <p href="" id="11nd">Aqueston 1</p><br>
    <p href="" id="12nd">Aqueston 1</p><br>
    <p href="" id="13nd">Aqueston 1</p><br>
    <p href="" id="14nd">Aqueston 1</p><br>
    <p href="" id="15nd">Aqueston 1</p><br>
    <p href="" id="16nd">Aqueston 1</p><br>
    <p href="" id="17nd">Aqueston 1</p><br>
    <p href="" id="18nd">Aqueston 1</p><br>
    <p href="" id="19nd">Aqueston 1</p><br>
    
  </div>
  </div>
  </div>

 
</div>
