<div>
  <nav class="navbar navbar-default">
    <div class="col-md-12 col-lg-12   col-sm-12">
      <div class="navbar-header ">
        <button
          type="button"
          class="navbar-toggle"
          ng-click="isCollapsed = !isCollapsed"
          aria-expanded="true"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand glyphicon glyphicon-stats" href="#/">PkStock</a>
      </div>

      <div
        class="navbar-collapse collapse in"
        collapse="isCollapsed"
        aria-expanded="true"
      >
        <ul class="nav navbar-nav navbar-right">
          <li><a ng-click="open_notification()">Notification</a></li>
          <li><a href="#/Blog">Blog</a></li>

          <li><a href="#/Help">Help</a></li>
          <li><a ng-click="open_login('')">Login</a></li>
          <li><a ng-click="open_register()">SignUp</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="row">
  <div id="scrollArea">
    <div class="col-centered  col-lg-8 col-md-6 col-xl-4 col-sm-8">
      <a class="heading" ng-click="gotoBottom('1st')"
        >What is the Stock Market?</a
      >
      <p class="defination " id="1st">
        The Stock Exchange is a place where shares of listed companies are
        bought and sold. Companies list themselves on the stock exchange to
        raise capital. Shares of companies are traded, after they are listed,
        through a process of Initial Public Offering (IPO) or Secondary Public
        Offering (SPO). The share purchase represents ownership of the
        shareholder in a company to the extent of amount contributed by the
        investor to the capital of that company. Corporate Bonds (Term Finance
        Certificates - TFCs etc.) and Government Debt Securities - GDS (Treasury
        Bills etc.) are also listed and traded on the Stock Exchange. Bonds are
        listed by a company that wants to raise capital in return for fixed
        periodic payments as mark-up and the eventual return of principal to the
        investor. GDS are listed by the Government to raise capital whereby the
        securities give fixed periodic returns as profit with eventual return of
        principal to the investor. A company floats its shares for the first
        time through an IPO in the share market. These shares can be purchased
        by filling and submitting the share subscription form along with the
        payment of subscription amount through cheque (or through any other
        instrument of payment recommended by the issuer company) at a branch of
        the designated bank(s). The shares are subscribed at a pre-designated
        price. In an SPO, shares are offered by a listed company by way of
        issuing new shares, called Right Shares, or through off-loading of more
        shares (held by directors and others) in the market. The share price is
        set on the stock exchange platform as the shares are bought and sold.
        Pakistan Stock Exchange (PSX) has 558 listed companies distributed
        amongst 40 sectors. There are 7 Indices listed on PSX board. Part of the
        PSX ecosystem are the CDC (Central Depository Company) through which
        delivery of shares takes place, and NCCPL (National Clearing Company of
        Pakistan Limited) through which settlement of shares takes place.
      </p>
      <div class="decoration">
        <a class="heading">Tell me more... Download pdf book from PSX and write question and answers(Guide to new investor)</a>
        <a ng-click="gotoBottom('3nd')">questoin</a><br />
        <a ng-click="gotoBottom('4nd')">questoin</a><br />
        <a ng-click="gotoBottom('5nd')">questoin</a><br />
        <a ng-click="gotoBottom('6nd')">questoin</a><br />
        <a ng-click="gotoBottom('7nd')">questoin</a><br />
        <a ng-click="gotoBottom('8nd')">questoin</a><br />
        <a ng-click="gotoBottom('9nd')">questoin</a><br />
        <a ng-click="gotoBottom('10nd')">questoin</a><br />
        <a ng-click="gotoBottom('11nd')">questoin</a><br />
        <a ng-click="gotoBottom('12nd')">questoin</a><br />
        <a ng-click="gotoBottom('13nd')">questoin</a><br />
        <a ng-click="gotoBottom('14nd')">questoin</a><br />
        <a ng-click="gotoBottom('15nd')">questoin</a><br />
        <a ng-click="gotoBottom('16nd')">questoin</a><br />
        <a ng-click="gotoBottom('17nd')">questoin</a><br />
        <a ng-click="gotoBottom('18nd')">questoin</a><br />
        <a ng-click="gotoBottom('19nd')">questoin</a><br />

        <p href="" id="3nd">aqueston 1</p>
        <br />
        <p href="" id="4nd">Aqueston 1</p>
        <br />
        <p href="" id="5nd">Aqueston 1</p>
        <br />
        <p href="" id="6nd">Aqueston 1</p>
        <br />
        <p href="" id="7nd">Aqueston 1</p>
        <br />
        <p href="" id="8nd">Aqueston 1</p>
        <br />
        <p href="" id="9nd">Aqueston 1</p>
        <br />
        <p href="" id="10nd">Aqueston 1</p>
        <br />
        <p href="" id="11nd">Aqueston 1</p>
        <br />
        <p href="" id="12nd">Aqueston 1</p>
        <br />
        <p href="" id="13nd">Aqueston 1</p>
        <br />
        <p href="" id="14nd">Aqueston 1</p>
        <br />
        <p href="" id="15nd">Aqueston 1</p>
        <br />
        <p href="" id="16nd">Aqueston 1</p>
        <br />
        <p href="" id="17nd">Aqueston 1</p>
        <br />
        <p href="" id="18nd">Aqueston 1</p>
        <br />
        <p href="" id="19nd">Aqueston 1</p>
        <br />
      </div>
    </div>
  </div>
</div>
